.section-2{
    height: 100vh;
    width: 100%;
    background-image: url('../background/space.jpg'); /* Reemplaza 'tu-imagen.jpg' por la URL de tu imagen */
    background-size: cover; /* Ajusta la imagen para que ocupe todo el espacio */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

iframe {
    width: 80%;  /* Ocupa el 80% del ancho del contenedor */
    height: 70%; /* Ocupa el 60% de la altura del contenedor */    
    border: 2px solid #ccc; /* Borde opcional */
    border-radius: 8px; /* Bordes redondeados opcionales */
}